html, body { 
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.header {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 40px;
    background-color: #4197CA;
}

.landing-tile:hover, .nav, .tile-bottom:hover {
    color: white;
    background-color: #4197CA;
    outline: none;
}

h1, h3, h4, .contact-text, .contact-title, p {
    text-align: left;
}

h1, h3, h2, .nav, .tile-bottom {
    font-family: 'Russo One', sans-serif;
}

h2, .content, .panel {
    text-align: center;
}

h4, p, li {
    font-family: 'Do Hyeon', sans-serif;;
    font-size: 2vw;
}

h1 {
    position: fixed;
    color: white;
    margin: 0;
    font-size: 35px;
    padding-left: 15px;
}

h2 {
    padding-top: 4vw;
    font-size: 5vw;
    color: #08659C;
}

h3 {
    font-size: 30px;
}

p {
    margin: 10px;
    width: 40vw;
    height: 100%;
    overflow: auto;
    display: inline-block;
    color: #08659C;
}

.nav {
    position: relative;
    left: -25px;
    /* top: 1vh; */
    float: right; 
    font-size: 20px;
}

a {
    color: #4197CA;
    text-decoration: none;
}

a:hover {
    color: black;
}

.contact-title, .include, h4, h3 {
    margin-left: 7%;
    margin-bottom: 0%;
    margin-top: 0%;
    width: 100%;
    color: #08659C;
}

.contact-title {
    margin-top: 10vw;
}

.contact-will {
    margin-top: 7vw;
}

.include {
    display: inline;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    width: 100%;
}


/* Tile CSS Start */

#landing {
    justify-content: center;
    margin: 10% 5% 0% 5%;
}

.container {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 4%;
}

.tile-bottom {
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
    display: none;
}
.tile-bottom {
    background-color: #4197CA;
}

.tile-top {
    background-color: #90ECCA;
}

.tile-bottom, .tile-top{
    cursor: pointer;
    transition: .5s;
    color: #4197CA;
    font-size: 5vh;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 15px;
    height: 50vh;
    width: 50vh;
}

.tile-top:hover {
    animation-name: top-hover;
    animation-duration: 1s;
}

@keyframes top-hover {
    100% {box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5); background-position: 100% 100%;}
}


/* Tile CSS End */

.panel {
    position: fixed;
    top: 0;
    z-index: 20;
    background-color: black;
    width: 100%;
    height: 100%;
    display: none;
    overflow: auto;
}

.closePanel {
    position: fixed;
    top: 1%;
    right: 1%;
    z-index: 4;
}

.display {
    margin: 20px;
}

.description {
    height: 50vh;
}

.description > p {
    font-size: 100%;
}

/* .img, .left-img {
    cursor: pointer;
    padding: 1.5%;
    height: 50vh;
} */

/* .left-img {
    float: left;
} */

.video {
    margin-left: 2%;
}

#profile {
    rotate: 90;
}

@media only screen and (max-width: 600px) { 
    .content { margin-top: 40px; }

    .tile-bottom, .tile-top {
        height: 40vh;
        width: 40vh;
    }

    h1 {
        /* font-size: 5vw; */
        padding-bottom: 3px;
    }

    .nav {
        font-size: 5vw;
        top: 0;
    }
}