html, body { 
    position: absolute;
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url('assets/Gallery/Background/MilkyWay.jpg');
    background-size: 120%;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    z-index: -2;
}


html, body, .header, .content, .panel, #projects {
    width: 100%;
}

html, p, .panel, .content {
    height: 100%;
}

.header {
    position: fixed;
    z-index: 10;
    height: 45px;
}

.landing-tile:hover, .contact-button, .tile-bottom:hover {
    outline: none;
}

h1, h3, h4, p, .contact-text, .contact-title {
    text-align: left;
}

h1, h3, h2, .contact-button, .tile-bottom, .closePanel {
    font-family: 'Russo One', sans-serif;
}

h2, .content, .panel {
    text-align: center;
}

p, .image-title {
    font-family: 'Do Hyeon', sans-serif;
}

p {
    overflow: auto;
}

.landing-tile:hover, .tile-bottom:hover, .image-title, .closePanel, .description, h4, h3, p, .contact-title {
    color: white;
}

a, .tile-bottom, .tile-top, h2, h1, .contact-button {
    color: #08659C;
}
a:hover {
    color: turquoise;
}
.closePanel:hover, .contact-button:hover {
    color: black;
}

.tile-bottom, .tile-top {
    border-color: rgba(0, 0, 0, 0);
}

.content-grid {
    background-image: linear-gradient(to right, rgba(8, 101, 156, 9), rgba(65, 152, 202, .0));
}
.header {
    background-image: linear-gradient(to bottom, white, rgba(255, 255, 255, 0.5));
}

.panel {
    background-image: linear-gradient(to bottom, rgba(8, 101, 156, 9), rgba(65, 152, 202, .1));
}

.landing-tile:hover, .tile-bottom, .tile-top, .closePanel:hover {
    background-color: white;
}

.panel {
    background-color: black;
}

.closePanel {
    background-color: rgba(0,0,0,0);
}

.tile-bottom:hover {
    background-color: #08659C;

}

h1, .header-button {
    position: fixed;
    margin: 5px;
    padding-left: 15px;
}
#projects {
    text-shadow: 1px 1px rgb(255, 255, 255);
}

h2 {
    padding-top: 4vw;
    font-size: 5vh;
}

h3 {
    font-size: 3vh;
}

p {
    font-size: 2vh;
    overflow: auto;
    display: inline-block;
}

.header-button {
    z-index: 10;
    background-image: url("assets/Gallery/Animation/WSLogo/WS1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
    height: 35px;
    width: 200px;
}

.contact-button {
    position: absolute;
    right: 10px;
    margin-top: 10px;
    font-size: 20px;
}

a {
    text-decoration: none;
}

.content {
    display: flex;
    position: relative;
    top: 74vh;
    flex-wrap: wrap;
    justify-content: center;
}


/* Tile CSS Start */
.container {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 4%;
}

.tile-bottom {
    box-shadow: 4px 4px 2px rgb(0, 0, 0);
    display: none;
}

.tile-bottom, .tile-top{
    cursor: pointer;
    transition: .5s;
    font-size: 1.5em;
    border-radius: 5px;
    height: 40vh;
    width: 40vh;
    margin: 15px;
}
/* Tile CSS End */


.panel {
    position: fixed;
    top: 0;
    z-index: 20;
    height: 100%;
    display: none;
    overflow: auto;
}

.closePanel {
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 4;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    transition: 0.6s ease;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Contact Page */
.content-grid {
    position: absolute;
    top: 50px;
    left: 10px;
    right: 10px;
    display: grid;
    grid-gap: 2vh;
    grid-template-rows: 8vh 40vh 20vh;
    grid-template-columns: 40vh 40vh;
    grid-template-areas:
    'title title' 
    'image body'
    'info info';
    align-items: start;
    justify-items: start;
}

.contact-title {
    font-size: 5vh;
    justify-self: center;
    align-self: center;
    grid-area: title;
}
.contact-title, h3, .contact-info, .contact-text, .profile {
    padding: 0%;
}

h3 {
    letter-spacing: 2px;
}

h3, .contact-text {
    margin: 0% 4%;
}

.contact-info {
    grid-area: info;
}

.contact-text {
    width: 100%;
    font-size: 3vh;
}

.profile-body {
    grid-area: body;
    align-self: center;
    justify-self: start;
}

.profile {
    position: relative;
    grid-area: image;
    height: 40vh;
    width: 40vh;
    background-image: url('assets/Gallery/PortfolioSite/Profile.jpg');
    background-size: cover;
    background-position: center;
}
/* Contact Page End */

/* BG elements */
.moon-light {
    position: fixed;
    display: block;
    left: 0;
    bottom: -20%;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(to bottom, transparent 40%,#fff 200%);
    background: -moz-linear-gradient(to bottom, transparent 40%,#fff 200%);
    background: linear-gradient(to bottom, transparent 40%,#fff 200%);
}

.moon {
    position: fixed;
    z-index: -1;
    bottom: -20%;
    width: 40vh;
    height: 40vh;
    background-image: url('assets/Gallery/Background/Moon.png');
    background-size: 60% 60%;
    background-repeat: no-repeat;
}

.trees {
    position: fixed;
    z-index: -1;
    bottom: -70%;
    width: 101vw;
    height: 100vh;
    border-style: none;
    background-image: url('assets/Gallery/Background/TreeLine.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
/* BG Elements End */

@media only screen and (min-width: 800px) {
    .content {
        width: 70%;
        margin: auto;
    }
}
@media only screen and (min-width: 1100px) {
    body {
        background-image: url('assets/Gallery/Background/MilkyWaySideways.jpg');
    }
}

@media only screen and (max-width: 600px) { 
    .content-grid {
        grid-gap: 10px;
        display: grid;
        grid-template-rows: 8vh 40vh 40vh 20vh;
        grid-template-columns: 90vw;
        grid-template-areas:
        'title' 
        'image'
        'body'
        'info';
        align-items: center;
        justify-items: center;
    }
    .contact-title, .contact-text, .contact-info, h3, h4, p {
        text-align: center;
    }
    .profile-body {
        justify-self: center;
    }

    .content { margin-top: 10px; top: 120vh; }

    .tile-bottom, .tile-top { height: 30vh; width: 30vh; }

}

@media screen {

    div#preloader {
        position: absolute;
        left: -9999px;
        top: -9999px;
    }
    div#preloader img {
        display: block;
    }
}
@media print {
    div#preloader, div#preloader img {
        visibility: hidden;
        display: none;
    }
}